/*Estilização do conteúdo principal*/
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

p#methodType{
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}

.avalicone{
    width: 80px;
}

/*estilo para estrelas*/
.rating-container {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.rating-container h2{
    font-size: 20px;
}

.star-rating {
    font-size: 2rem;
    cursor: pointer;
}

.star-rating span {
    color: #ccc; /* cor das estrelas "desmarcadas" */
}

.star-rating .selected,
.star-rating span:hover,
.star-rating span:hover ~ span {
    color: #FFD700; /* cor das estrelas selecionadas */
}

button{
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #e91e63;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

button:hover{
    background-color: #c2185b;
}


/*PÁGINA DE AVALIAÇÕES*/
.avaliacoes-container {
    width: 80%;
    max-width: 800px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.avaliacao-item {
    background-color: #f3e5f5; /* Fundo roxo claro */
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.avaliacao-item h3 {
    font-size: 18px;
    color: #333;
    margin-bottom: 5px;
}

.avaliacao-item p {
    font-size: 16px;
    color: #555;
}

.avaliacao-stars {
    color: #FFD700; /* Cor das estrelas */
    font-size: 1.5rem;
    margin-bottom: 5px;
}

.semAvaliacao{
    text-align: center;
    font-size: 30px;
    color: red;
}
